@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <input id="Button" type="button" value="Посчитать для 5 и 3" onclick="useCalc(5, 3)" />
    <p id="result"></p>
</div>

<script>
    function useCalc(a, b) {
        fetch('@Url.Action("Calc", "Operation")?a=' + a + '&b=' + b)
            .then(response => response.json())
            .then(data => {
                document.getElementById("result").innerText = "Результат: " + data.result;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>